*{
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-wrap: wrap;
    color: midnightblue;
}

body{
    background: linear-gradient(yellow,cadetblue);
}

header{
    width: 100%;
    background-color: gold;
    margin: 0;
    height: 5rem;
    background-image: url('../media/logoPokeball.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,
h2,
h3{
    text-align: center;
    width: 100%;
    margin: 0
}
a{
    text-decoration: none;
    color: midnightblue;
    border-bottom: 1px solid transparent;
    transition: all .5s;
}
a:hover{
    border-bottom: 1px solid yellow;
}

.card{
    width: 23%;
    border: 1px solid lightskyblue;
    text-align: center;
    padding: .5rem;
    margin: 1rem auto;
    text-align: center;
    border-radius: 2rem;
    transition: all .5s;
}
.card:hover{
    transform: scale(1.2);
}

.pokeImg{
    width: 100%;
}
.pokeDetails{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.pokeDetails h3{
    width: 50%;
    margin: 0 auto;
}
.typeImg
{
    width: 30%;
    margin: 0 auto;
}

.displayNone{
    display: none;
}

.plante{
    background-color: limegreen;
    color: forestgreen;
}
.poison{
    background-color: mediumorchid;
    color: midnightblue;
}
.feu{
    background-color: crimson;
    color: black;
}
.vol{
    background-color: azure;
    color: midnightblue;
}
.eau{
    background-color: aqua;
    color: midnightblue;
}
.insecte{
    background-color: chartreuse;
    color: forestgreen;
}
.normal{
    background-color: darkgray;
}
.electrik{
    background-color: gold;
    background-color: darkorange;
}
.sol{
    background-color: maroon;
    color: cornsilk;
}
.fee{
    background-color: floralwhite;
    color: midnightblue;
}
.combat{
    background-color: orangered;
    color: black;
}
.psy{
    background-color: mediumvioletred;
    color: darkmagenta;
}
.roche{
    background-color: dimgray;
    color: brown;
}
.acier{
    background-color: gainsboro;
    color: dimgray;
}
.glace{
    background-color: snow;
    color: dimgray;
}
.spectre{
    background-color: #fff;
    color: dimgrey;
}
.dragon{
    background-color: firebrick;
    color: lavenderblush;
}
.tenebre{
    background-color: black;
    color: gray;
}

/***** page 2 *****/

.container2,
.randomCtn{
    border: 5px ridge midnightblue;
    margin: 1rem;
}

.pokeImg{
    max-width: 100%;
}
.pokeFightHdr{
    display: flex;
    justify-content: space-around;
}

.fighters{
    display: flex;
}
.fighters article{
    width: 50%;
}

.statsCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.statsCard p{
    margin: 0 auto;
}

.typesCtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgCtn{
    width: 30%;
}
.pokeImg2{
    width: 100%;
}

.arena{
    background-image: url('https://cdn.discordapp.com/attachments/1057063003448680528/1065996762554302494/LanarOne_realistic_giant_pokemon_coliseum_Mewtwo.pokemon_statue_ba79deed-27e0-4f2c-a6a0-345b79ff82e0.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

@keyframes slideIn {
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(0%);
    }
}